.cat{
    width: 200px;
    height: 200px;
} 

.masterContainer{
    display: flex;
}

.imageContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.optionsContainer{
    border: solid black;
    width: 30%;
}

.option{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

p{
    margin-right: 10px;
}

.btnContainer{
    display: flex;
    justify-content: center;
}

.radioOption{
    display: flex;
    justify-content: center;
    height: 25px;
    margin-top: 15px;

    align-items: center;
}

.animal{
    width: 350px;
    height: 350px;
}

.announcement{
    display: flex;
    justify-content: center;
}

.announcementText{
    font-size: 20px;
}