/* .btnContainer{
    display: flex;
    justify-content: center;
}

.imgContainer{
    height: 200px;
    border: solid black;
}

.cat{
    width: 200px;
    height: 200px;
} */

.masterContainer{
    display: flex;
    border: solid black;
    height: 90vh;
}

.imageContainer{
    border: solid purple;
    width: 80%;
}

.optionsContainer{
    width: 20%;
    border: solid blue;
}


